page-event-modal {

  ion-item {
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  ion-icon {
    font-size: 24px;
    line-height: 1.5;
    padding-left: 8px;
  }

  // HEADER
  .modal-close {
    float: left;
  }
  .toolbar-title-md {
    font-size: 16px;
  }

  .toolbar-title-ios {
    font-size: 16px;
  }

  hr {
    color: #f4f4f4;
  }

  // TITLE
  .category-icon {
    font-size: 50px;
  }

  .event-title {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
  }

  .event-category {
    font-size: 18px;
    font-weight: 400;
  }

  // TIME
  #event-time-list {
    margin-bottom: 0;
    .event-time-info {
      height: 100%;
      text-align: center;
      border-bottom: none;

      ion-label {
        margin-right: 0;
        #start-time {
          font-size: 24px;
          font-weight: bold;
          padding-top: 2px;
        }
      }
      div.item-inner {
        padding-right: 0;
      }
      .reminder-button {
        font-size: 14px;
        margin: 10px 8px 2px 8px;
      }
      .calendar-button {
        font-size: 14px;
        margin: 10px 8px 2px 8px;
      }
    }
  }

  // ADDITIONAL DETAILS
  #event-detail-list {
    margin-top: 0;
    ion-label {
      line-height: 1.5;
    }
    .label-md {
      font-size: 1.7rem;
    }
  }

  .list-ios > .item-block:first-child {
    border: none;
  }
  .scroll-content {
    padding-top: 0 !important;
  }

  .expand-text {
    font-size: 14px !important;
    margin-bottom: 2px;
  }

  .expand-text:active {
    color: lightgray !important;
  }

  ion-grid {
    text-align: center;
  }
}
