<ion-header>
  <ion-navbar text-wrap>
    <ion-buttons left>
      <button class="modal-close" ion-button (click)="closeModal()">
        <ion-icon class="close-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-wrap>{{escapeEntity(e.EventTitle)}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list id="event-time-list" text-wrap>
    <ion-item text-center>
        <ion-card-header class="event-title" text-wrap><b>{{escapeEntity(e.EventTitle)}}</b>
            <p class="event-category" [ngStyle]="{'color': iconColorMap[e.ParentCatName]}">
                {{e.ParentCatName}}
                <span *ngIf="e.SecCatName"> | </span>
                <span>{{e.SecCatName}}</span><br>
                <ion-icon *ngIf="hasNotification" name="notifications" (click)="onBellIconClick()"></ion-icon>
                <ion-icon *ngIf="!hasNotification" style="color: lightgray" name="notifications" (click)="onBellIconClick()"></ion-icon>
            </p>
        </ion-card-header>
        <!--<ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="{{iconName}}" class="category-icon"></ion-icon>-->
    </ion-item>
    <ion-item no-lines class="event-time-info">
        <ion-label text-center icon-left>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="calendar"></ion-icon>
            <b>{{formatStartDate(e.EventStartDate)}}</b>
        </ion-label>
        <ion-label text-center icon-left>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="clock"></ion-icon>
            <b>{{formatStartTime(e.EventTime)}}</b>
        </ion-label>
    </ion-item>
  </ion-list>

  <ion-list id="event-detail-list" text-center text-wrap>

    <ion-item *ngIf="e.Description">
      <ion-label *ngIf="!isExpandedText && escapeEntity(e.Description).length > 400" style="margin-top: 0">
          {{escapeEntity(e.Description).substr(0, 400)}}...
          <ion-label [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" class="expand-text"
                     (click)="expandDescription()">
              <b *ngIf="platform.is('ios')">Read more</b>
              <b *ngIf="platform.is('android')">READ MORE</b>
          </ion-label>
      </ion-label>
      <ion-label *ngIf="!isExpandedText && escapeEntity(e.Description).length < 400" style="margin-top: 0">
          {{escapeEntity(e.Description)}}
      </ion-label>
      <ion-label *ngIf="isExpandedText" style="margin-top: 0">
          {{escapeEntity(e.Description)}}
          <ion-label [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" class="expand-text"
                     (click)="collapseDescription()">
              <b *ngIf="platform.is('ios')">Hide</b>
              <b *ngIf="platform.is('android')">HIDE</b>
          </ion-label>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="e.Venue" icon-left>
        <ion-label>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="home"></ion-icon>
            {{escapeEntity(e.Venue)}}
        </ion-label>
    </ion-item>
    <ion-item *ngIf="e.VenueStreetAddress" icon-left>
        <ion-label>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="locate"></ion-icon>
            {{escapeEntity(e.VenueStreetAddress)}}
        </ion-label>
    </ion-item>
    <ion-item *ngIf="e.VenueCity || e.VenueState" icon-left>
        <ion-label>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="map"></ion-icon>
            {{escapeEntity(e.VenueCity)}}, {{escapeEntity(e.VenueState)}} {{escapeEntity(e.VenueZip)}}
        </ion-label>
    </ion-item>
    <ion-item *ngIf="e.VenuePhone" icon-left>
        <ion-label>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="grid"></ion-icon>
            {{e.VenuePhone}}
        </ion-label>
    </ion-item>
    <ion-item *ngIf="e.Websites" icon-left>
        <ion-label>
            <ion-icon [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" name="link"></ion-icon>
            <!--TODO, add fix for having multiple websites-->
            <a [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" href="{{e.Websites}}">{{e.Websites}}</a>
        </ion-label>
    </ion-item>
  </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button icon-only clear (click)="regularShare()" [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" icon-end>
              <ion-icon class="share-icon" name="share"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only clear (click)="whatsappShare()" [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" icon-end>
              <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only clear (click)="facebookShare()" [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" icon-end>
              <ion-icon class="share-icon" name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-only clear (click)="twitterShare()" [ngStyle]="{'color': iconColorMap[e.ParentCatName]}" icon-end>
              <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
