<ion-header>
    <ion-navbar text-wrap>
        <ion-buttons left>
            <button class="modal-close" ion-button (click)="closeModal()">
                <ion-icon class="close-icon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-wrap>Event Details</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <!--event categories-->
    <ion-list id="event-time-list" text-wrap>
        <ion-item text-center>
            <ion-card-header class="event-title" text-wrap><b>{{escapeEntity(e.EventTitle)}}</b>
                <p class="event-category" [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}">
                    {{e.ParentCatName}}
                    <span *ngIf="e.SecCatName"> | </span>
                    <span>{{e.SecCatName}}</span><br>
                </p>
            </ion-card-header>
        </ion-item>

        <ion-item no-lines class="event-time-info">
            <!--event date/reminder-->
            <ion-label text-center icon-left>
                <b id="start-time">{{formatStartDate(e.EventStartDate)}} | {{formatStartTime(e.EventTime)}}</b>
                <div *ngIf="!isPastEvent()">
                    <button ion-button outline round class="reminder-button"
                            [ngStyle]="{'border-color': backgroundColorMap[e.ParentCatName], 'color': backgroundColorMap[e.ParentCatName]}"
                            *ngIf="hasNotification"
                            (click)="onBellIconClick()">
                        Cancel
                        <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}"
                                  name="notifications"></ion-icon>
                    </button>
                    <button ion-button outline round class="reminder-button"
                            [ngStyle]="{'border-color': backgroundColorMap[e.ParentCatName], 'color': backgroundColorMap[e.ParentCatName]}"
                            *ngIf="!hasNotification" (click)="onBellIconClick()">
                        Remind
                        <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}"
                                  name="notifications"></ion-icon>
                    </button>
                    <button ion-button outline round class="calendar-button"
                            [ngStyle]="{'border-color': backgroundColorMap[e.ParentCatName], 'color': backgroundColorMap[e.ParentCatName]}"
                            (click)="onCalendarIconClick()">
                        Add
                        <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}"
                                  name="calendar"></ion-icon>
                    </button>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>

    <!--event details-->
    <ion-list id="event-detail-list" text-wrap>

        <!--description-->
        <ion-item *ngIf="e.Description">
            <ion-label *ngIf="!isExpandedText && escapeEntity(e.Description).length > 400" style="margin-top: 0">
                {{escapeEntity(e.Description).substr(0, 400)}}...
                <ion-label [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" class="expand-text"
                           (click)="expandDescription()">
                    <b *ngIf="platform.is('ios')">Read more</b>
                    <b *ngIf="platform.is('android')">READ MORE</b>
                </ion-label>
            </ion-label>
            <ion-label *ngIf="!isExpandedText && escapeEntity(e.Description).length < 400" style="margin-top: 0">
                {{escapeEntity(e.Description)}}
            </ion-label>
            <ion-label *ngIf="isExpandedText" style="margin-top: 0">
                {{escapeEntity(e.Description)}}
                <ion-label [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" class="expand-text"
                           (click)="collapseDescription()">
                    <b *ngIf="platform.is('ios')">Hide</b>
                    <b *ngIf="platform.is('android')">HIDE</b>
                </ion-label>
            </ion-label>
        </ion-item>

        <!--venue-->
        <ion-item *ngIf="e.Venue" icon-left>
            <ion-label>
                <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" name="home"></ion-icon>
                {{escapeEntity(e.Venue)}}
            </ion-label>
        </ion-item>

        <!--address-->
        <ion-item *ngIf="e.VenueStreetAddress" icon-left>
            <ion-label>
                <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" name="locate"></ion-icon>
                {{escapeEntity(e.VenueStreetAddress)}}
            </ion-label>
            <button *ngIf="e.VenueCity && e.VenueState" [ngStyle]="{'border-color': backgroundColorMap[e.ParentCatName], 'color': backgroundColorMap[e.ParentCatName]}"
                    (click)="openNavigatorPrompt()"
                    ion-button round outline item-right>
                Directions
            </button>
        </ion-item>

        <!--city-->
        <ion-item *ngIf="e.VenueCity || e.VenueState" icon-left>
            <ion-label>
                <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" name="map"></ion-icon>
                {{escapeEntity(e.VenueCity)}}, {{escapeEntity(e.VenueState)}} {{escapeEntity(e.VenueZip)}}
            </ion-label>
        </ion-item>

        <!--phone-->
        <ion-item *ngIf="e.VenuePhone" icon-left>
            <ion-label>
                <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" name="call"></ion-icon>
                {{e.VenuePhone}}
            </ion-label>
            <button (click)="callNumber(e.VenuePhone)"
                    [ngStyle]="{'border-color': backgroundColorMap[e.ParentCatName], 'color': backgroundColorMap[e.ParentCatName]}"
                    ion-button round outline item-right>
                Call
            </button>
        </ion-item>

        <!--websites-->
        <ion-item *ngIf="e.Websites" icon-left>
            <ion-label>
                <ion-icon [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" name="link"></ion-icon>
                <!--TODO, add fix for having multiple websites-->
                <a [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" href="{{e.Websites}}">{{e.Websites}}</a>
            </ion-label>
        </ion-item>
    </ion-list>

    <!--social media-->
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button icon-only clear (click)="regularShare()"
                        [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" icon-end>
                    <ion-icon class="share-icon" name="share"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-only clear (click)="whatsappShare()"
                        [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" icon-end>
                    <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-only clear (click)="facebookShare()"
                        [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" icon-end>
                    <ion-icon class="share-icon" name="logo-facebook"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-only clear (click)="twitterShare()"
                        [ngStyle]="{'color': backgroundColorMap[e.ParentCatName]}" icon-end>
                    <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
