page-event-modal {
  .modal-close {
    font-size: 1.5em;
    color: #424242;
    float: left;
  }
  .close-icon {
    color: white;
    font-size: 2em;
  }
  .toolbar-title-md {
    font-size: 16px;
  }

  .toolbar-title-ios {
    font-size: 16px;
  }
  .category-icon {
    font-size: 50px;
  }

  .event-title {
    padding: 0;
    font-size: 25px;
  }

  #event-time-list {
    margin-bottom: 0;
    .event-time-info {
      height: 100%;
      zoom: 130%;
      text-align: center;
      border-bottom: none;
      [icon-left] ion-icon, [icon-start] ion-icon {
        line-height: 1.5;
      }
      ion-label {
        margin-right: 0;
      }
    }
  }

  #event-detail-list {
    margin-top: 0;
    ion-label {
      line-height: 1.5;
    }
  }

  .list-ios > .item-block:first-child {
    border: none;
  }
  .scroll-content {
    padding-top: 0 !important;
  }
}
