<ion-content>
  <div *ngIf="platform == 'Ios'" class="ios-padding"></div>
  <div *ngIf="platform == 'Android'" class="md-padding"></div>

  <!--event list-->
  <ion-list text-wrap>
    <div *ngFor="let e of events; let i = index">
      <br *ngIf="i != 0 && e.PrevStartDate != e.EventStartDate">

      <!--date header-->
      <ion-card-header>
        <b *ngIf="isTodayEvent(e.EventStartDate) && i == 0">Today</b>
        <b *ngIf="!isTodayEvent(e.EventStartDate) && e.PrevStartDate != e.EventStartDate">{{formatStartDate(e.EventStartDate)}}</b>
      </ion-card-header>

      <!--event-->
      <event-card [e]="e"></event-card>

    </div>
  </ion-list>
</ion-content>
