<ion-header>
    <ion-toolbar>

        <!--event search bar-->
        <ion-row>
            <ion-col>
                <ion-searchbar [(ngModel)]="searchTerms" (ionInput)="onSearchInput($event)"
                               (ionClear)="onSearchClear()" debounce="500"></ion-searchbar>
            </ion-col>
            <ion-col text-center no-padding col-1>
                <ion-icon class="calendar-icon" name="calendar" (click)="openCalendar()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>

            <!--my feed view-->
            <ion-label (click)="getMyFeed()"
                       [ngClass]="{hiddenViewStyle: selectedView == 'All',
                                   visibleViewStyle: selectedView == 'My Feed'}"
                       ion-button clear class="header-label-left">My Feed
            </ion-label>
            <!--all event view-->
            <ion-label (click)="getAllFeed()"
                       [ngClass]="{hiddenViewStyle: selectedView == 'My Feed',
                                   visibleViewStyle: selectedView == 'All'}"
                       ion-button clear class="header-label-right">All
            </ion-label>

        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="searchLoading" class="search-loading">
        <ion-spinner></ion-spinner>
    </div>

    <!--event list-->
    <ion-list *ngIf="hasEvents" text-wrap>
        <div *ngFor="let e of events; let i = index">

            <!--date header-->
            <ion-card-header
                    *ngIf="(isTodayEvent(e.EventStartDate) && i == 0) || (!isTodayEvent(e.EventStartDate) && e.PrevStartDate != e.EventStartDate)"
                    class="date-header">
                <b *ngIf="isTodayEvent(e.EventStartDate) && i == 0">Today</b>
                <b *ngIf="!isTodayEvent(e.EventStartDate) && e.PrevStartDate != e.EventStartDate">{{formatStartDate(e.EventStartDate)}}</b>
            </ion-card-header>

            <!--event-->
            <event-card [e]="e" (click)="openModal(e)"></event-card>

        </div>
    </ion-list>
    <ion-card-header *ngIf="!hasEvents && loading == null && !searchLoading" text-center>
        <ion-icon name="calendar"></ion-icon>
        <br>
        No events found
    </ion-card-header>
</ion-content>
