page-home {

  .header-label-left {
    padding-left: 42px;
    text-align: center;
    color: white;
    width: 50%;
    margin: 0;
    font-weight: 400 !important;
  }

  .header-label-right {
    padding-right: 42px;
    text-align: center;
    color: white;
    width: 50%;
    margin: 0;
    font-weight: 400 !important;
  }

  .calendar-icon {
    vertical-align: middle;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 12px 5px 0 0;
  }

  .hiddenViewStyle {
    color: #a2a2a2;
  }

  .visibleViewStyle {
    font-weight: 800;
  }

  .toolbar .searchbar-ios .searchbar-input {
    background-color: #0A559F;
  }

  .event-time {
    font-size: .6em;
  }
  .md-padding {
    padding-top: 16px;
  }
  .ios-padding {
    padding-top: 16px;
  }
}
