<ion-header>
    <ion-toolbar>
        <ion-row>
				<!--Categories view-->
            <ion-label (click)="getCategoriesTab()"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Categories',
							  visibleViewStyle: selectedTab == 'Categories'}"
							  ion-button clear class="header-label">
					Categories
            </ion-label>
            <!--Tags view-->
            <ion-label (click)="getTagsTab()"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Tags',
							  visibleViewStyle: selectedTab == 'Tags'}"
							  ion-button clear class="header-label">
					Tags
            </ion-label>
				<!--age range view-->
				<ion-label (click)="getAgeRangeTab()"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Age Range',
							  visibleViewStyle: selectedTab == 'Age Range'}"
							  ion-button clear class="header-label">
					Age Range
				</ion-label>
				<ion-label (click)="getVenuesTab()"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Venues',
							  visibleViewStyle: selectedTab == 'Venues'}"
							  ion-button clear class="header-label">
					Venues
				</ion-label>
        </ion-row>
    </ion-toolbar>
</ion-header>
<!--<ion-content padding>
Categories

<button ion-button (click) ="clearMemory()">Clear</button>
<p *ngFor="let cat of selectedCategories">
{{cat}}
</p>



<ion-item>
	<ion-label fixed>Tags</ion-label>
	<ion-select placeholder="Select" multiple="true" [(ngModel)]="tagSelect" (ionChange)="saveTags(tagSelect)" >
		 <ion-option *ngFor="let item of tags" [value]="item">{{item}}</ion-option>
	</ion-select>
</ion-item>

<ion-item>
	<ion-label> Age Range </ion-label>
	<ion-range id="age-range-slider" dualKnobs="true" pin="true" [(ngModel)]="knobValues" color="positive" step="1" snap="true">
	   <ion-label range-left>0</ion-label>
      <ion-label range-right>99+</ion-label>
	</ion-range>
	
</ion-item>

<button ion-button (click)="saveAgeRange(knobValues.lower,knobValues.upper)">Confirm</button>

<ion-item>
<ion-label fixed>Categories</ion-label>

<ion-select placeholder="Select" multiple="true" [(ngModel)]="categorySelect" (ionChange)="saveCategories(categorySelect)" >
    <ion-option *ngFor="let item of categories" [value]="item" [attr.selected]="(form.name == name) ? true : null">{{item}}</ion-option>
</ion-select>
</ion-item>
</ion-content>-->

<ion-content [ngSwitch]="selectedTab">
	
	<div *ngSwitchCase="'Categories'">
		
		<ion-grid>
		
			<ion-row *ngFor="let cat of categories; let i=index">
				<ion-col text-left>
					<ion-item no-lines>	
						<ion-checkbox (ionChange)="mainCatChange(cat)" 
										[checked]="catDisplayValues[i]" 
										class="chbox"></ion-checkbox>
										
															
						<ion-label class="selection-label">{{cat}}</ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item detail-push no-lines id="{{cat}}-open" data-expanded="false" (click)="expandCat(cat);">
						
					</ion-item>
				</ion-col>
				<div id="{{cat}}" style="display:none;">
				
					<ion-list class="sub-category-list" *ngFor="let subC of subCats[i]">
						<ion-item >
							<ion-checkbox (ionChange)="subCatChange(subC)"
												[checked]="selectedCategories.indexOf(subC) >= 0" 
												class="chbox"></ion-checkbox>
												
							<ion-label class="selection-label">{{subC}}</ion-label>
						</ion-item>
					</ion-list>
				</div>
				
			</ion-row>
		
		</ion-grid>
		
	</div>
	
	<div *ngSwitchCase="'Tags'">
		<ion-list *ngFor="let tag of tags; let i=index">
			<div class="selection-div">
			<ion-checkbox (ionChange)="tagChange(tag)" 
								[checked]="tagDisplayValues[i]" 
								class="chbox"></ion-checkbox>
								
			<ion-label class="selection-label">{{tag}}</ion-label>
			</div>
		</ion-list>
		
		<button ion-button (click)="saveTags()">Save</button>
		<div *ngIf="selectedTags.length == 0">You don't have any saved Tags, select ones that interest you from this list</div>
	</div>
	
	<div *ngSwitchCase="'Age Range'">
	
		<ion-list *ngFor="let ar of ageRanges; let i=index">
			<div class="selection-div">
				<ion-checkbox (ionChange)="ageRangeChange(ar)" 
									[checked]="ageRangeDisplayValues[i]" 
									class="chbox"></ion-checkbox>
									
				<ion-label class="selection-label">{{ar}}</ion-label>
			</div>
		</ion-list>
	
	<button ion-button (click)="saveAgeRange()">Save</button>
	</div>
	<div *ngSwitchCase="'Venues'">
				 <ion-searchbar [(ngModel)]="searchTerms" (ionInput)="onVenueSearchInput($event)"
									 (ionClear)="onVenueSearchClear()" debounce="500"></ion-searchbar>
		
		<div *ngFor="let v of venues; let i=index">
			<ion-label>{{v}}</ion-label>
		</div>
	</div>
</ion-content>