<ion-header>
    <ion-toolbar>
        <ion-row>
				<!--Categories view-->
            <ion-label (click)="goToSlide(0)"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Categories',
							  visibleViewStyle: selectedTab == 'Categories'}"
                       ion-button clear class="header-label">
                Categories
            </ion-label>
            <!--Tags view-->
            <ion-label (click)="goToSlide(1)"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Tags',
							  visibleViewStyle: selectedTab == 'Tags'}"
                       ion-button clear class="header-label">
                Tags
            </ion-label>
				<!--age range view-->
				<ion-label (click)="goToSlide(2)"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Age Range',
							  visibleViewStyle: selectedTab == 'Age Range'}"
							  ion-button clear class="header-label">
					Age Range
				</ion-label>
				<ion-label (click)="goToSlide(3)"
                       [ngClass]="{hiddenViewStyle: selectedTab != 'Venues',
							  visibleViewStyle: selectedTab == 'Venues'}"
                       ion-button clear class="header-label">
                Venues
            </ion-label>
        </ion-row>
		  
		<ion-row>
		<div id="save-button-div" style="height:0px; margin-left:auto; display:none;">
			<button ion-button color="secondary" (click)="saveAll(this)" id="save-button">Save Changes</button>
			<button ion-button color="danger" (click)="clearMemory(this)" id="clear-button">Restore Defaults</button>
		</div>
		</ion-row>
		  
    </ion-toolbar>
</ion-header>

<ion-content has-header="true" scroll="true">
<ion-slides style="height: auto;" (ionSlideDidChange)="slideChanged()">
	<ion-slide class="slides" id="slide1">

	<ion-grid>
			<ion-row *ngFor="let cat of categories; let i=index">
				<ion-col text-left>
					<ion-item no-lines>	
						<ion-checkbox (ionChange)="mainCatChange(cat)" 
										[checked]="catDisplayValues[i][0]" 
										class="chbox"></ion-checkbox>
										
						<ion-label class="selection-label">{{cat}}</ion-label>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item detail-push no-lines id="{{cat}}-open" data-expanded="false" (click)="expandCat(cat);">
						
					</ion-item>
				</ion-col>
				<div id="{{cat}}" style="display:none;">
				
					<ion-list class="sub-category-list" *ngFor="let subC of subCats[i]; let j=index">
						<ion-item >
							<ion-checkbox (ionChange)="subCatChange(cat + '_' + subC)"
												[checked]="catDisplayValues[i][j + 1]" 
												class="chbox"></ion-checkbox>
												
							<ion-label class="selection-label">{{subC}}</ion-label>
						</ion-item>
					</ion-list>
				</div>
				
			</ion-row>
		
		</ion-grid>
	</ion-slide>

	<ion-slide class="slide" id="slide2">

		<ion-grid>
			<ion-row *ngFor="let tag of tags; let i=index"><ion-col text-left>
			<ion-item no-lines>
						<ion-checkbox (ionChange)="tagChange(tag)" 
											[checked]="tagDisplayValues[i]" 
											class="chbox"></ion-checkbox>
											
						<ion-label class="selection-label">{{tag}}</ion-label>
				</ion-item>
			</ion-col></ion-row>
		</ion-grid>
		
	</ion-slide>
		
	<ion-slide class="slide" id="slide3">
		<ion-grid>
			<ion-row *ngFor="let ar of ageRanges; let i=index"><ion-col text-left>
			<ion-item no-lines>
						<ion-checkbox (ionChange)="ageRangeChange(ar)" 
											[checked]="ageRangeDisplayValues[i]" 
											class="chbox"></ion-checkbox>
											
						<ion-label class="selection-label"> {{ar}}</ion-label>
				</ion-item>
			</ion-col></ion-row>
		</ion-grid>
		
	</ion-slide>
	
	<ion-slide class="slide" id="slide4">

		<ion-grid>
			<ion-searchbar [(ngModel)]="searchTerms" (ionInput)="onVenueSearchInput($event)"
				(ionClear)="onVenueSearchClear()" debounce="500"></ion-searchbar>
			
			<ion-row *ngFor="let v of searchedVenues; let i=index"><ion-col text-left>
			<ion-item no-lines>
						<ion-checkbox (ionChange)="venueChange(v)" 
											[checked]="selectedVenues.indexOf(v) > -1"
											class="chbox"></ion-checkbox>
											
						<ion-label class="selection-label"> {{v}}</ion-label>
				</ion-item>
			</ion-col></ion-row>
		</ion-grid>
	</ion-slide>
</ion-slides>
</ion-content>