event-card {
  ion-card {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  ion-card.card.card-md {
    padding: 0;
  }
  ion-card.card.card-ios {
    padding: 0;
  }
  ion-label.label.label-md {
    margin: 0;
    height: 100% !important;
  }
  ion-label.label.label-ios {
    margin: 0;
    height: 100% !important;
  }
  .start-time {
    font-size: 17px;
  }
  .first-col {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .second-col {
    padding: 8px 0px 8px 8px;
  }
  .second-col {
    font-size: 90%;
  }
  .event-category {
    zoom: 80%;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0;
  }
  .event-title {
    color: black;
  }
  .event-venue {
    color: #708090;
  }
  ion-icon {
    font-size: 20px;
  }
  .parent-cat {
    padding-right: 6px;
  }
  .secondary-cat {
    padding-left: 6px;
  }
}
