<ion-card padding no-border no-lines text-wrap>
  <ion-card-header no-padding>
    <ion-icon name="map"></ion-icon>
  </ion-card-header>
  <ion-item no-padding text-wrap>
    <ion-row text-wrap>
      <ion-col class="card-first-col" no-padding text-wrap col-3>
        {{formatDate(event.EventStartDate)}}
        {{formatStartTime(event.EventTime)}}
      </ion-col>
      <ion-col class="card-second-col" no-padding text-wrap col-9>
        {{event.EventTitle}}
      </ion-col>
    </ion-row>
  </ion-item>
</ion-card>
