event-card {
  ion-card.card.card-md {
    padding: 0;
  }
  ion-card.card.card-ios {
    padding: 0;
  }
  ion-label.label.label-md {
    margin: 0;
    height: 100% !important;
  }
  ion-label.label.label-ios {
    margin: 0;
    height: 100% !important;
  }
  .first-col {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .second-col {
    padding: 12px 8px 4px 8px;
  }
  .second-col {
    font-size: 90%;
  }
  .event-title{
    padding-bottom: 2px;
    color: black;
  }
  .event-venue{
    zoom: 90%;
    color: #708090;
  }
  ion-icon {
    font-size: 20px;
  }
}
